server {
	server_name _;
	listen 80 default_server;
	listen [::]:80 default_server;
    return 301 https://{{ fqdn }}$request_uri;

}

server {
	server_name _;
	listen 443 ssl;
	listen [::]:443 ssl;
    ssl_certificate /etc/ssl/{{ fqdn }}.pem;
    ssl_certificate_key /etc/ssl/{{ fqdn }}.pem;

	root /var/www/html/squirrelmail-webmail-1.4.22;
	index index.html index.htm index.php index.nginx-debian.html;

	location / {
		try_files $uri $uri/ =404;
	}

	location ~ \.php$ {
		include snippets/fastcgi-php.conf;
		fastcgi_pass unix:/var/run/php5-fpm.sock;
	}

	location ~ /\.ht {
		deny all;
	}
}
