server {
    server_name {{ subdomain }}mail.{{ domain }};
    listen 80 default_server;
    listen [::]:80 default_server;
    return 301 https://{{ subdomain }}mail.{{ domain }}$request_uri;

}

server {
    server_name {{ subdomain }}mail.{{ domain }};
    listen 443 ssl;
    listen [::]:443 ssl;
    ssl_certificate /etc/ssl/{{ subdomain }}mail.{{ domain }}.pem;
    ssl_certificate_key /etc/ssl/{{ subdomain }}mail.{{ domain }}.pem;

    root /var/www/html;
    index index.html index.htm index.php index.nginx-debian.html;

    access_log /var/log/nginx/{{ subdomain }}mail.{{ domain }}.log;
    error_log /var/log/nginx/{{ subdomain }}mail.{{ domain }}.err;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php5-fpm.sock;
    }

    location ~ /\.ht {
        deny all;
    }
}
