.provisioned
*.retry

ansible/group_vars/all
ansible/inventory/inventory
ansible/site.yml
ansible/roles/*
!ansible/roles/dovecot
!ansible/roles/mlmmj
!ansible/roles/postfix
!ansible/roles/repo
!ansible/roles/rspamd

templates/fstab
build/
cbsd.conf
vars.mk
