dn: ou=tilda.center,dc=ldap
objectClass: top
objectClass: organizationalUnit
ou: tilda.center

dn: uid=meka,ou=tilda.center,dc=ldap
objectClass: top
objectClass: person
objectClass: posixAccount
objectClass: shadowAccount
objectClass: pilotPerson
cn: Goran Mekić
sn: Mekić
uid: meka
uidNumber: 110
gidNumber: 117
homeDirectory: /data/mail/tilda.center/meka
loginShell: /bin/false
gecos: System User
shadowLastChange: 13979
shadowMax: 45
mail: meka@tilda.center
userClass: mail
