{% for item in letsencrypt_consul_templates %}
template {
  source = "{{ consul_template_root }}/{{ letsencrypt_consul_template_prefix }}/{{ item.filename }}"
  destination = "{{ item.destination }}"
}
{% endfor %}
