{% for item in postfix_consul_templates %}
template {
  source = "{{ consul_template_root }}/{{ postfix_consul_template_prefix }}/{{ item.filename }}"
  destination = "{{ item.destination }}"
  command = "service postfix restart"
}
{% endfor %}
